.cs-conversation__info {
    min-height: 1.5em;
}

.max-height{
    height: 100%;
}

.message-row {
   margin: 4px; 
}

.popup {
    padding: 10px;
    border-radius: .7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #c6e3fa;
}

.popup-button {
    width: max-content;
    background-color: transparent;
    color: #6ea9d7;
    border: none;
    border-radius: 8px;
    padding: 2px 4px;
}

.close {
    width: 16px;
    height: 16px;
    cursor: pointer;
}