.cs-conversation__info {
    min-height: 1.5em;
}

.max-height{
    height: 100%;
}

.message-row {
   margin: 4px; 
}

.popup {
    padding: 10px;
    border-radius: .7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #c6e3fa;
}

.popup-button {
    width: max-content;
    background-color: transparent;
    color: #6ea9d7;
    border: none;
    border-radius: 8px;
    padding: 2px 16px;
}

.close {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}

.edit-text {
    box-sizing: border-box;
  flex-grow: 1;
  background-color: #c6e3fa;
  font-family: Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
  margin: 16px auto;
  outline: 0;
  border-radius: 8px;
  border-top: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  overflow: visible;
  color: rgba(0,0,0,.87);
  overflow-wrap: anywhere;
  word-break: break-word;
  width: 100%;
  height: 150px; /* Altezza dell'area di testo */
}

.submit-button {
    margin: 16px auto;
}

.textarea-container {
  position: relative;
}

.button-inside-textarea {
  position: absolute;
  z-index: 2px;
  bottom: 20px; /* Regola la posizione verticale del bottone all'interno dell'area di testo */
  right: 10px; /* Regola la posizione orizzontale del bottone all'interno dell'area di testo */
}